
<style>
  .odd  {   background-color: #f2f9ff;} 
.even {   background-color: #eceff3; }
  </style>

<button type="button" class="btn btn-primary" (click)="openModal(template)">Add Category</button>
 
 
   <input type="text" #search class="form-control" placeholder="Search By Name" (keyup)="modelChanged(search.value)"> 
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of cats | paginate: { id: 'listing_pagination',
    itemsPerPage: 10,
    currentPage: page,
    totalItems: totalRec }" 
   >
      <td>{{cat.name}}</td>
      <td>{{cat.url}}</td>
      <td>
        <span ngclass="danger" *ngIf="cat.status==0" (click)="changeSts(cat._id,cat.status)">InActive</span>
        <span ngclass="success" *ngIf="cat.status==1" (click)="changeSts(cat._id,cat.status)">Active</span>
      </td>
      <td> <span>Edit</span> | 
        <span (click)="deleteCat(cat._id)">Delete</span>
        </td>
    </tr>      
    
  </tbody>
</table>

<div>
  <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="getPage($event)"></pagination-controls>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Category Form</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-signin" (submit)="onAdd()" #loginForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" required class="form-control" placeholder="Enter Name" [(ngModel)]="name" name="name">
    </div>
    <div class="form-group">
    <label for="url">Url</label>
    <input type="text" class="form-control" required placeholder=" Enter Url" [(ngModel)]="url" name="url">
    </div>
    <input class="btn btn-lg btn-primary" type="submit" value="Add" [disabled]="loginForm.form.invalid">
  </form>
  </div>
</ng-template>


