


<form class="form-signin" (submit)="onLoginSubmit()" [formGroup]="loginForm">
    <h2 class="page-header" >Login</h2>
  <div class="form-group">
    <mat-form-field class="example-full-width form-group">
      <mat-label>Email *</mat-label>
      <input matInput placeholder="abc@gmail.com" value="" type="email"  formControlName="email" name="email">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="example-full-width form-group">
      <mat-label>Password *</mat-label>
      <input matInput placeholder="*****" value="" type="password"   formControlName="password" name="password">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>

